<table class="table table-hover align-middle">
  <thead class="table-success">
    <tr>
      <th>Nombre</th>
      <th>Precio</th>
      <th>Imagen</th>
      <th>Stock</th>
      <th>Cantidad</th>
      <th>Acción</th>
    </tr>
  </thead>
  <tbody>
    @for (product of products; track product.id) {
      <tr [class.table-warning]="product.offer">
        <td>
          {{ product.name | titlecase }}
          @if (product.offer) {
            <span class="badge bg-danger ms-2">OFERTA</span>
          }
        </td>
        <td>{{ product.price | currency: 'ARS' : 'symbol' : '1.0-0' }}</td>
        <td>
          <img class="img-thumbnail" [src]="product.image" [alt]="product.name" width="80" />
        </td>
        <td>
          @if (product.stock > 0) {
            <span>{{ product.stock }}</span>
          } @else {
            <span class="badge text-bg-warning">SIN STOCK</span>
          }
        </td>
        <td>
          @if (product.stock > 0) {
            <app-input-integer
              [quantity]="product.quantity"
              [max]="product.stock"
              (quantityChange)="product.quantity = $event"
              (maxReached)="maxReached($event)"
            >
            </app-input-integer>
          }
        </td>
        <td>
          @if (product.stock > 0) {
            <button class="btn btn-sm btn-success" (click)="onAdd(product)">Agregar</button>
          }
        </td>
      </tr>
    }
  </tbody>
</table>
